# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
db.sqlite3
/staticfiles/
/media/
!/media/brands/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
debug.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django migrations
myapp/migrations/*.pyc
myapp/migrations/*.pyo
myapp/migrations/*.pyd

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db
 ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Jupyter Notebook
.ipynb_checkpoints

# Local env files
.env
.env.*

# Firebase service account keys (keep secure!)
firebase/